.sign{
    background-color:black;
    height:300px;
    width:400px;
    margin-left:450px;
}

.sign > h1{
    color:white;
    margin-left:20px;
}

.in{
    background-image:url(./images/background\ image1.webp);
    height:520px;
}

.in > h1{
    color:red;
}

.sign > input{
    display:block;
    margin-bottom:20px;
}