*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sign{
    background-color:black;
    height:300px;
    width:200px;
    margin-left:450px;
}

.sign > h1{
    color:white;
    margin-left:20px;
    font-size:17.5px;
}

.in{
    background-image:url(./images/background\ image1.webp);
    height:400px;
}

.in > h1{
    color:red;
}

.sign > input{
    display:block;
    margin-bottom:20px;
}

.a{
    text-decoration:none;
    background-color:red;
    color:white;
    padding-left:10px;
    width:170px;
    font-weight:lighter;
    font-size:15px;
    text-align:center;
    display:flex;
    justify-content:center;
    margin:1px;
}

.or{
    color:gray;
}

.use{
    text-decoration:none;
    background-color:gray;
    color:white;
    padding-left:10px;
    width:170px;
    font-weight:lighter;
    font-size:15px;
    text-align:center;
    display:flex;
    justify-content:center;
    margin:1px;
}

.forgot{
    color:white;
}