*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sign{
    background-color:black;
    height:100%;
    width:500px;
    opacity:0.9;
    display: flex;
    align-items:center;
    justify-content:center;
    padding:50px;
}

.sign > div h1{
    color:white;
    margin-left:20px;
    font-size:17.5px;
    display: flex;
}

.in{
    background-image:url(./images/background\ image1.webp);
    height:90vh;
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.in > h1{
    color:red;
}

[type="email"],[type="password"]{
    width:300px;
    background-color:black;
    height:40px;
    
}

.a{
    /* text-decoration:none;
    background-color:red;
    color:white;
    padding-left:10px;
    width:170px;
    font-weight:lighter;
    font-size:15px;
    text-align:center;
    display:flex;
    justify-content:center;
    margin:1px; */
}

.or{
    color:gray;
}

.use{
    text-decoration:none;
    background-color:gray;
    color:white;
    padding-left:10px;
    width:170px;
    font-weight:lighter;
    font-size:15px;
    text-align:center;
    display:flex;
    justify-content:center;
    margin:1px;
}

.forgot{
    color:white;
}

.net{
    color:red;
    position:relative;
    top:-80px;
    left:-390px;
}